@charset "utf-8";
.encaforms {
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	font-weight: bold;
	color: #000;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}